.box{
    width: 600px;
    background-color: rgb(234, 239, 234);
  }
  
  .flex{
    display: flex;
  }
  
  img{
    width: 64px;
    height: 64px;
  }
  
  .media{
    display:flex;
    justify-content: space-between;
  }
  
  .fieldhas-addons{
    margin-right: 30px;
    margin-top: 30px;
    display: flex;
  }
  
  .content{
    margin-top:30px;
  }
  
  .input{
    border-color: rgb(110, 13, 151);
  }
  
  .buttonis-info{
    background-color: rgb(110, 13, 151);
    color:white;
  }
  
  .button-reset{
    margin-top:10px;
    margin-left: 10px;
    background-color: grey;
    color: white;
    width: 100px;
    height: 40px;
  }
  